@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Oswald', sans-serif;
  background: #040A0A;
}

body {
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  color: currentColor;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

picture {
  font-size: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
  font-weight: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidd;
}

.footer-item, .block-item {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

.header {
  width: 100%;
  min-height: 80px;
  background: black;
}

.wrapper-inner {
  background: url("imgs/delivery-bg.png") center bottom no-repeat;
  background-size: cover;
}

main {
  padding: 0 165px;
}

.page-name {
  font-size: 12px;
  line-height: 17.78px;
  letter-spacing: 0.04rem;
  color: #fff;
  margin-top: 35px;
}

.delivery-titles {
  max-width: 615px;
  width: 100%;
  margin-top: 60px;
}

.delivery-title {
  font-size: 100px;
  line-height: 121px;
  color: #fff;
  letter-spacing: 0.02rem;
  font-family: 'Cormorant';
  text-transform: uppercase;
}

.second-line {
  text-align: right;
}

.delivery-disclaimer {
  margin-top: 24px;
  max-width: 500px;
  width: 100%;
  margin-left: 95px;
}

.payment-block {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disclaimer-title {
  font-weight: 700;
  color: #D978AC;
  font-size: 'Oswald';
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04rem;
}

.disclaimer-desc {
  font-size: 'Oswald';
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04rem;
  color: #fff;
}

.block-title {
  font-weight: 700;
  color: #D978AC;
  font-size: 'Oswald';
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.bottom-title {
  margin-top: 30px;
}

.block-inner {
  max-width: 1110px;
  width: 100%;
}

.payment-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment-card {
  max-width: 255px;
  width: 100%;
  border-radius: 20px;
  background: #00000033;
  padding: 54px 32px 53px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.payment-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.additionally {
  margin-top: 100px;
  max-width: 961px;
  width: 100%;
  padding: 30px 120px 30px 33px;
  background: #00000033;
  border-radius: 20px;
  margin-bottom: 200px;
}

.card-circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #6B535F;
  margin-bottom: 23px;
}

.payment-card-desc {
  font-weight: 300;
  font-family: 'Oswald';
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.price {
  margin-top: 100px;
  margin-left: 126px;
  max-width: 620px;
  width: 100%;
}

.terms {
  margin-left: 0;
  max-width: 800px;
  width: 100%;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style-type: disc;
}

.terms-list {
  gap: 0;
}

.price-item {
  font-weight: 300;
  font-family: 'Oswald';
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02rem;
  color: #fff;
  text-transform: uppercase;
}

.price-link {
  color: #43FFD2;
}

.additionally-desc {
  font-weight: 300;
  font-family: 'Oswald';
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.002rem;
  color: #fff;
}

.additionally-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style-type: disc;
  margin-left: 22px;
}

.additionally-item {
  font-weight: 300;
  font-family: 'Oswald';
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02rem;
  color: #fff;
}

.footer {
  background: #000;
  padding-bottom: 60px;
}

.container {
  padding: 0 165px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  text-align: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}

.mobile-item {
  display: none;
}

.footer-item {
  color: #43FFD2;
  font-weight: 700;
}

.block-item {
  color: #43FFD2;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.footer-link {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 17.78px;
  font-weight: 300;
  letter-spacing: 0.004em;
}

.block-link {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 14.82px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.footer-first_list {
  max-width: 235px;
  width: 100%;
}

.footer-first_list .footer-item {
  margin-top: 8px;
  margin-bottom: 10px;
}

.footer-second_list {
  max-width: 129px;
  width: 100%;
}

.footer-second_list .footer-item {
  margin-top: 4px;
}

.footer-second_list .footer-item:first-child {
  margin-top: 30px;
  margin-bottom: 6px;
}

.footer-third_list {
  max-width: 90px;
  width: 100%;
}

.footer-third_list .footer-item {
  margin-top: 4px;
}

.footer-third_list .footer-item:first-child {
  margin-top: 30px;
  margin-bottom: 6px;
}

.footer-fourth_list {
  max-width: 160px;
  width: 100%;
}

.footer-fourth_list .footer-item {
  margin-top: 20px;
}

.footer-fourth_list .footer-item:first-child {
  margin-top: 30px;
}

.footer-fiveth_list {
  max-width: 246px;
  width: 100%;
}

.footer-fiveth_list .footer-item {
  margin-top: 20px;
}

.footer-fiveth_list .footer-item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer-fiveth_list .footer-item:first-child {
  margin-top: 30px;
}

@media screen and (max-width: 1241px) {
  main {
    padding: 0 95px;
  }
  .payment-cards {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 800px;
    width: 100%;
  }
  .payment-card {
    max-width: 380px;
    width: 100%;
    border-radius: 20px;
    background: #00000033;
    padding: 54px 45px 53px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .payment-card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .block-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1025px) {
  main {
    padding: 0 75px;
  }
  .payment-cards {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }
  .payment-card {
    max-width: 100%;
    width: 100%;
    min-height: 180px;
    height: 100%;
    border-radius: 20px;
    background: #00000033;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .payment-card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .block-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .payment-card-desc {
    max-width: 500px;
    width: 100%;
    font-weight: 300;
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02rem;
    color: #fff;
    text-transform: uppercase;
    text-align: start;
  }
  .card-circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #6B535F;
    margin-bottom: 0;
    margin-right: 25px;
  }
  .price {
    margin-top: 100px;
    margin-left: 0;
    padding-left: 34px;
    max-width: 620px;
    width: 100%;
  }
  .terms {
    margin-left: 0;
    padding-left: 34px;
    max-width: 800px;
    width: 100%;
  }
  .additionally {
    margin-top: 100px;
    max-width: 961px;
    width: 100%;
    padding: 30px 80px 30px 33px;
    background: #00000033;
    border-radius: 20px;
    margin-bottom: 200px;
  }
  .container {
    padding: 0 95px;
  }
  .footer {
    padding: 14px 0 20px 0;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: none;
        flex-wrap: none;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-item {
    display: block;
  }
  .footer-second_list {
    display: none;
  }
  .footer-third_list {
    display: none;
  }
  .footer-first_list .footer-item {
    display: none;
  }
  .footer-fourth_list {
    max-width: 100%;
  }
  .footer-fourth_list .footer-item {
    margin-top: 20px;
  }
  .footer-fourth_list .footer-item:first-child {
    margin-top: 10px;
  }
  .footer-fiveth_list {
    max-width: 100%;
    margin-top: 20px;
  }
  .footer-fiveth_list .footer-item .footer-item_block {
    gap: 10px;
  }
  .footer-fiveth_list .footer-item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .footer-fiveth_list .footer-item:first-child {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 0 55px;
  }
  .delivery-titles {
    max-width: 460px;
    width: 100%;
    margin-top: 60px;
  }
  .delivery-title {
    font-size: 70px;
    line-height: 77px;
    color: #fff;
    letter-spacing: 0.04rem;
    font-family: 'Cormorant';
    text-transform: uppercase;
  }
  .delivery-disclaimer {
    margin-top: 53px;
    max-width: 350px;
    width: 100%;
    margin-left: 95px;
  }
  .payment-cards {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }
  .payment-card {
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    height: 100%;
    border-radius: 20px;
    background: #00000033;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .payment-card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .payment-block {
    margin-top: 80px;
  }
  .block-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .payment-card-desc {
    max-width: 390px;
    width: 100%;
    font-weight: 300;
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02rem;
    color: #fff;
    text-transform: uppercase;
    text-align: start;
  }
  .card-circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #6B535F;
    margin-bottom: 0;
    margin-right: 25px;
  }
  .price {
    margin-top: 100px;
    margin-left: 0;
    padding-left: 34px;
    max-width: 580px;
    width: 100%;
  }
  .terms {
    margin-left: 0;
    padding-left: 34px;
    max-width: 550px;
    width: 100%;
  }
  .additionally {
    margin-top: 100px;
    max-width: 961px;
    width: 100%;
    padding: 30px 40px 30px 33px;
    background: #00000033;
    border-radius: 20px;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 650px) {
  main {
    padding: 0 40px;
  }
  .delivery-titles {
    max-width: 350px;
    width: 100%;
    margin-top: 40px;
  }
  .delivery-title {
    font-size: 50px;
    line-height: 49px;
    color: #fff;
    letter-spacing: 0.04rem;
    font-family: 'Cormorant';
    text-transform: uppercase;
  }
  .delivery-disclaimer {
    margin-top: 53px;
    max-width: 350px;
    width: 100%;
    margin-left: 0;
  }
  .payment-cards {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }
  .payment-card {
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    height: 100%;
    border-radius: 20px;
    background: #00000033;
    padding: 0 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .payment-card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .payment-block {
    margin-top: 70px;
  }
  .block-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .payment-card-desc {
    max-width: 390px;
    width: 100%;
    font-weight: 300;
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02rem;
    color: #fff;
    text-transform: uppercase;
    text-align: start;
  }
  .card-circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #6B535F;
    margin-bottom: 0;
    margin-right: 25px;
  }
  .price {
    margin-top: 100px;
    margin-left: 0;
    padding-left: 34px;
    max-width: 320px;
    width: 100%;
  }
  .terms {
    margin-left: 0;
    padding-left: 34px;
    max-width: 320px;
    width: 100%;
  }
  .additionally {
    margin-top: 100px;
    max-width: 961px;
    width: 100%;
    padding: 20px 35px 20px 20px;
    background: #00000033;
    border-radius: 20px;
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 426px) {
  .page-name {
    margin-top: 20px;
  }
  main {
    padding: 0 10px;
  }
  .wrapper-inner {
    background: url("imgs/delivery-bg-mb.png") center center no-repeat;
    background-size: cover;
  }
  .delivery-titles {
    max-width: 259px;
    width: 100%;
    margin-top: 40px;
  }
  .delivery-title {
    font-size: 40px;
    line-height: 49px;
    color: #fff;
    letter-spacing: 0.04rem;
    font-family: 'Cormorant';
    text-transform: uppercase;
  }
  .delivery-disclaimer {
    margin-top: 53px;
    max-width: 280px;
    width: 100%;
    margin-left: 0;
  }
  .payment-cards {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 198px;
    width: 100%;
  }
  .payment-card {
    max-width: 198px;
    width: 100%;
    min-height: 185px;
    height: 100%;
    border-radius: 20px;
    background: #00000033;
    padding: 20px 12px 53px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .payment-card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .payment-block {
    margin-top: 70px;
  }
  .block-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block-title {
    font-size: 14px;
  }
  .payment-card-desc {
    max-width: 174px;
    width: 100%;
    font-weight: 300;
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  .card-circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #6B535F;
    margin-bottom: 23px;
    margin-right: 0;
  }
  .price {
    margin-top: 60px;
    margin-left: 0;
    padding-left: 34px;
    max-width: 259px;
    width: 100%;
  }
  .terms {
    margin-left: 0;
    padding-left: 34px;
    max-width: 350px;
    width: 100%;
  }
  .price-item {
    font-weight: 300;
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02rem;
    color: #fff;
    text-transform: uppercase;
  }
  .additionally {
    margin-top: 60px;
    max-width: 961px;
    width: 100%;
    padding: 20px 10px 30px 10px;
    background: #00000033;
    border-radius: 20px;
    margin-bottom: 160px;
  }
  .additionally-desc {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04rem;
  }
}
/*# sourceMappingURL=delivery.css.map */