.networks
  background: #000
  padding-top: 200px
.networks-inner
  background: url('../imgs/section5-bg.png')left top no-repeat
  background-size: cover
  min-height: 621px
  padding-top: 130px
.networks__container
  @include flex-type($align: end, $wrap: none, $text: none, $direction: none)
.networks_frames
  @include flex-type($justify: none, $align: none, $text: none, $direction : none)
  gap: 30px
  img
    transition: .3s
    &:hover
      transform: scale(1.2)
.networks-network-icons
  display: flex
  margin-top: 60px
  gap: 30px
  img
    width: 40px
    height: 40px
  
// MEDIA
