@import url(normalize.css)
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap')

$clr1: #43FFD2
$clr2: #D978AC

@mixin h4-titles
	font-size: 20px
	line-height: 30px
	letter-spacing: 2%

@mixin subtitles
	font-size: 30px
	line-height: 44px
	text-transform: uppercase

@mixin btns
	width: 255px
	height: 50px
	color: #000
	font-size: 12px
	line-height: 18px
	text-transform: uppercase

@mixin list
	text-transform: uppercase

@mixin texts
	font-size: 14px
	line-height: 21px

    