@import url(normalize.css)
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

$clr1: #43FFD2
$clr2: #D978AC

@mixin flex-type($flex: flex, $justify: space-between, $align: center, $wrap: wrap, $text: center,$direction : column)
	display: $flex
	justify-content: $justify
	align-items: $align
	flex-wrap: $wrap
	text-align: $text
	flex-direction: $direction

@mixin flex-center
	display: flex
	justify-content: center
	align-items: center

@mixin flex-column
	display: flex
	flex-direction: column

@mixin title
	font-size: 100px
	line-height: 121px
	text-transform: uppercase
	color: #fff
	letter-spacing: 0.2em
	font-family: 'Cormorant', sans-serif

@mixin h4-titles
	font-size: 20px
	line-height: 30px
	letter-spacing: 0.02rem
	color: #fff

@mixin subtitles
	font-size: 30px
	line-height: 44px
	text-transform: uppercase

@mixin btns
	width: 255px
	height: 50px
	color: #000
	font-size: 12px
	line-height: 18px
	text-transform: uppercase
	background: $clr1
	font-weight: 700
	letter-spacing: 0.1em

@mixin list
	text-transform: uppercase
	color: #fff

@mixin texts
	font-size: 14px
	line-height: 21px
	text-transform: uppercase
	letter-spacing: 0.04rem

@mixin hover-active-btn
	transition: 0.4s
	&:hover
		background: #000
		border: 1px solid white
		color: #fff
		transform: scale(1.1)
	&:active
		transform: scale(1.05)

@mixin hover-active-links
	transition: 0.4s
	&:hover
		transform: scale(1.1)
		text-decoration: underline
	&:active
		transform: scale(1.05)
		text-decoration: none
// HEADER

// HEADER END
@import order
@import form
@import networks
@import footer